* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}
.header .nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  width: 80%;
  height: 90px;
  margin: auto;
  top: 0;
  z-index: 9999;
}

.header .nav-bar .logo-wrapper {
  display: flex;
}
.header .nav-bar .logo-wrapper span {
  font-size: 1.8rem;
  font-weight: bold;
}

.header .nav-bar .logo-wrapper span.info-text {
  margin-left: 10px;
  color: #ea4f4c;
}

.nav-bar .nav-items {
  display: flex;
  list-style-type: none;
}
.nav-bar .nav-items .nav-item {
  opacity: 1;
  list-style-type: none;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav-bar .nav-items .nav-item a {
  font-size: 1.2rem;
  color: white;
  opacity: 0.75;
  text-decoration: none;
}
.nav-bar .nav-items .nav-item a:hover,
.nav-bar .nav-items .nav-item a.active {
  color: #ea4f4c;
  border-bottom: 2px solid #ea4f4c;
  opacity: 1;
}
/* video control */
.header .video-container {
  width: 100%;
  position: relative;

  /* border: 1px solid #ea4f4c; */
}
.header .video-container video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  width: 100%;
  margin-top: -160px;
  overflow: hidden;
  object-fit: cover;
  z-index: -1;
}
.services {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 5px;
  width: 100%;
  height: 450px;
  justify-content: space-around;
  /* position: relative; */
  background-color: #ea4f4c;
  /* z-index: 9999; */
}

.services .container {
  margin: 106.5px;
  padding: 20px;
}
.service-title {
  color: white;
  text-align: center;
  margin-top: -50px;
}
.service-title h1 {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
.services p {
  font-family: monospace;
  font-size: 20px;
  margin: 3px;
}
.flex-container {
  display: flex;
  padding: 20px;
  height: 450px;
  position: absolute;
  /* border: 3px solid blue; */
  margin-left: 40px;
  margin-right: 60px;
}
.service-item {
  background-color: #fdfafa;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  height: 330px;
  border-radius: 5%;
  text-align: center;
}
.services .box {
  margin-bottom: 30px;
  border: 4px solid rgb(78, 78, 78);
  padding: 15px;
  width: 33.33%;
}
.services ul {
  list-style-type: none;
}
.service-text h3 {
  padding: 10px;
  margin: 8px;
}

.foot {
  height: 230px;
  margin-top: 80px;
  margin-bottom: 0px;
  background-color: rgb(37, 37, 37);
}
.foot .footer-head {
  color: #ea4f4c;
  text-align: center;
  padding-top: 15px;
}
.footer-body {
  margin-left: 106.5px;
  margin-right: 90px;
  color: #fff;
}
.footer-body .box {
  border: 1px solid rgb(218, 212, 212);
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 5%;
}
.footer-body .box h4 {
  color: #ea4f4c;
}

.footer-body .box img {
  margin-top: -30%;
  margin-right: -15%;
}
.footer-body .address {
  height: 100px;
  width: 30%;
  text-align: center;
  padding-left: 50px;
  padding-top: 10px;
}
.footer-body .phone {
  height: 100px;
  width: 30%;
  margin-top: -9.6%;
  margin-left: 33.33%;
  text-align: center;
  padding-left: 30px;
}
.footer-body .email {
  height: 100px;
  width: 30%;
  margin-top: -9.6%;
  margin-left: 66.66%;
  text-align: center;
  padding-left: 30px;
}
.foot .footer-last {
  background-color: black;
  color: #fff;
  height: 50px;
}
.foot .footer-last p {
  text-align: center;
  padding-top: 10px;
}
.foot .footer-last p,
span {
  font-family: monospace;
  font-size: 12px;
}
.email .box p {
  font-family: fantasy;
  font-size: 24px;
}
